/* * {
    box-sizing: border-box;
  }
*/ 
  

  body {
    background-color: #f1f1f1;
  }
  
  #regForm {
    background-color: #ffffff;
    margin: 10px auto;
    /*font-family: Raleway;*/
    padding: 10px;
    width: 90%;
    min-width: 300px;
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
  }

  button {
  border-radius: 4px;
  padding: 10px 20px;
  margin-top: 24px;
  background: #E02401;
  color: #ffffff;
  border-radius: 0px;
  border: none;
}
  
  button:hover {
    opacity: 0.8;
  }
  
  #prevBtn {
    background-color: #bbbbbb;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #E02401;
  }

  @keyframes fadeMe {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }